.area {
}

.area ul li {
  display: flex;
  flex-direction: row;
  margin: 25px 0px;
  /* border: 1px dashed blue; */
}

.area ul li p {
  display: block;
  /* border: 1px dashed purple; */
}

.area ul li p .title {
  display: block;
  /* border: 1px dashed red; */
}
