* {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
}

li {
  list-style: none;
}

p {
  margin: 0 0 0px 0;
}

/* .navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 5;
} */

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background: url('./assets/images/header.jpg') no-repeat center center;
  background-size: cover;
}

.logo {
  width: calc(100% - 400px);
  min-width: 300px;
  height: 248px;
  background: url('./assets/images/logo.png') no-repeat center center;
  background-size: contain;
  text-indent: -9999px;
}

.content {
  padding: 50px 20px 20px 20px;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px dashed gray; /*Margem das páginas*/
}

.content h2 {
  margin-bottom: 10px;
  text-align: center;
  border: 1px dashed green;
}

@media (max-width: 600px) {
  .header {
    /* background-size: contain; */
  }
}
